<h3>
  Cryptography overview
</h3>
<p>
  Cryptography, cryptography, cryptography...When you first hear this term, you probably think of those hackers in the movies who type some nonsense to hide some data or to crack passwords.
  Well, let us tell you, it isn't that easy and straightforward (neither absolutely true). Since you are already here, you probably want to learn what the cryptography really is and what are the concepts you can use. So let us begin...
</p>
<p>
  How to define cryptography? One of our favorite definitions is from Handbook of Applied Cryptography by Menezes, van Oorschot and Vanstone that says that cryptography is the study of mathematical techniques related to aspects of information
  security such as confidentiality, data integrity, entity authentication, and data origin authentication. As such, cryptography is not the only means of providing information security, but rather one set of techniques.
  So, what are cryptographic goals? Looking at the definition previously given, we can conclude that the information security has a variety of services. And the main goal of cryptography is to cover their theoretical and practical aspects. The services are:<br />
  <ul>
    <li>
      Confidentiality - includes rules for limiting access or placing restrictions on the content of information.
      This could be provided using different techniques which include mathematical algorithms or physical protection.
    </li>
    <li>
      Data integrity - involves different techniques for maintaining the accuracy and consistency of data.
      This includes detection of unauthorized data manipulation such as insertion, deletion or substitution.
    </li>
    <li>
      Authentication - refers to the process of determining whether someone of something is, in fact, who or what it is declared to be.
    </li>
    <li>
      Data origin authentication - enables the recipient to verify that messages have not been tampered with in transit (data integrity) and that they originate from the expected sender (authenticity).
    </li>
  </ul>
</p>
<p>
  And Why is cryptography important? For example, every day thousands of people interact over the Internet - they sent e-mails to each other, use the Internet for online business, marketing, research, learning, etc.
  Cryptography makes these activities safe and secure. Encrypting the data transmitted between the users, allows people to do online banking, or to make online purchases with their credit cards and without worrying any of their account information is being compromised.
  By encrypting e-mail, we can ensure that it is very difficult to be read by any unwanted third party. Using digital signatures in the important documents can provide us better security in case of any kind of falsification. All of this mean only one thing - cryptography is widely used, and not only over the Internet, but also in phones, televisions , and a variety of other common household items.<br />
</p>
<p>
  And yes, you read it right, we said something about mathematical techniques.
  If you truly want to understand cryptographic algorithms, you have to get familiar with underlying mathematics. Everything else will be easier, believe us. That is why we created InfoSec Tutor - to try to explain to you how those cryptographic algorithms look like behind the scenes. We provided detail explanation of how algorithms actually work, their history, purpose, benchmark results, as well as their advantages and disadvantages.
  When you search the Internet, you can find different articles of cryptographic algorithms and many of them do not provide enough information or example you can play with. We wanted to gather all this into one place so that learning can be fun and much easier.
</p>
