<p>
	Symmetric-key algorithms are algorithms for cryptography that use the same cryptographic keys for both encryption of plaintext and decryption of ciphertext. Most often the key used for encryption and decryption is the same key and is represented as a shared secrete between two or more parties. This requirement that both parties have access to the secret key is one of the main drawbacks of symmetric key encryption, in comparison to <a ui-sref="main.cryptography.public-key.overview">public-key encryption</a>. There are two types of ciphers used by symmetric-key encryption.
</p>
<ul flex-offset="5">
	<li><a href="https://en.wikipedia.org/wiki/Stream_cipher" target="_blank"><b>stream cipher</b></a> - encrypts bytes of a message one at a time;</li>
	<li><a href="https://en.wikipedia.org/wiki/Block_cipher"><b>block cipher</b></a> - encrypts bytes of the plaintext in blocks, padding the plaintext so that it is a multiple of the block size if need be.</li>
</ul>
<p>
	In this section we focus on block ciphers. Perhaps in the future someone will add stream cipher lessons. Perhaps that someone will be you?
</p>
<p>
	The two block cypher algorithms we will review in detail are:
</p>
<ul flex-offset="5">
	<li><a ui-sref="main.cryptography.symmetric-key.des.overview">DES - Data Encryption Standard</a>;</li>
	<li><a ui-sref="main.cryptography.symmetric-key.aes.overview">AES - Advanced Encryption Standard</a>.</li>
</ul>
<p>
	In each subsection we take a look at the algorithm steps, the underlying math which provides security for the system, some demos and some additional readings. Have fun!
</p>