<div>
	<h2>InfoSec Tutor</h2>
	<p>
		The InfoSec Tutor is an e-learning application designed as a teaching aid for two courses on the Faculty of Technical Sciences, University of Novi Sad.<br/>
		Here students can find information, demos and benchamrks of various information security concepts.<br/>
		In its current version the application offers lessons on cryptography, with a focus on symmetric-key and public-key encryption.<br/>
		If you have any questions or feedback please contact Nikola Luburić or Milan Stojkov on their university email address.<br/>
	</p>
</div>